//background-color
$bg-clr-1           :#0d1421;
$bg-clr-2           :#222531;
$bg-clr-3           :#3861fb;
$bg-clr-4           :#646b80;
$bg-clr-5           :#171924;
$bg-clr-6           :#a6b0c3;
$bg-clr-7           :#858ca2;
$bg-clr-8           :#ff775f;
$bg-clr-9           :#17171a;
$bg-clr-10          :#1c2033;
$bg-clr-11          :#1b1c20;
$bg-clr-12          :#424347;
$bg-clr-13          :#a6b1c2;
$bg-clr-14          :#f6b87e;
$bg-clr-15          :#1a1a1d;
$bg-clr-16          :#476cfa;
$bg-clr-17          :#272b32;
$bg-clr-18          :#1b1c20;



//text-color
$text-clr-1         :#a1a7bb;
$text-clr-2         :#6188ff;
$text-clr-3         :#16c784;
$text-clr-4         :#57657d;
$text-clr-5         :#58667e;
$text-clr-6         :#858ca2;
$text-clr-7         :#ea3943;
$text-clr-8         :#cfd6e4;
$text-clr-9         :#a0a0a0;
$text-clr-10        :#98caff;



//border-color
$border-clr-1       :#252527;
$border-clr-2       :#323546;   
$border-clr-3       :#6188ff;
$border-clr-4       :#40424e;
$border-clr-5       :#3861fb;
$border-clr-6       :#6699cc;



//box-shadow
$box-shadow-1       :rgba(128, 138, 157, 0.12) 0px 1px 2px, rgba(128, 138, 157, 0.24) 0px 8px 32px;
$box-shadow-2       :rgba(128, 138, 157, 0.12) 0px 8px 32px, rgba(128, 138, 157, 0.08) 0px 1px 2px;
$box-shadow-3       :rgba(56, 97, 251, 0.3) 0px 0px 0px 4px;
$box-shadow-4       :0px 4px 24px #171924,0px 1px 2px #171924;
$box-shadow-5       :rgba(10, 10, 10, 0.29) 0px 0px 2px 0px;
$box-shadow-6       :rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;
$box-shadow-7       :rgb(100, 107, 128) 0px 0px 0px 3px;
$box-shadow-8       :rgba(56, 97, 251, 0.64) 0px 0px 0px 3px;
$box-shadow-9       :rgb(37, 37, 39) 0px 2px 10px 0px;;



//linear-gradient
$linear-1           :linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px);
$linear-2           :linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), rgb(34, 37, 49);
$linear-3           :linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), rgb(56, 97, 251);
