//background-color
$bg-clr-1           :#0d1421;
$bg-clr-2           :#222531;
$bg-clr-3           :#3861fb;
$bg-clr-4           :#646b80;


//text-color
$text-clr-1         :#a1a7bb;
$text-clr-2         :#6188ff;
$text-clr-3         :#16c784;


//border-color
$border-clr-1       :#252527;
$border-clr-2       :#323546;
$border-clr-3       :#6188ff;



//box-shadow
$box-shadow-1       :rgba(128, 138, 157, 0.12) 0px 1px 2px, rgba(128, 138, 157, 0.24) 0px 8px 32px;
$box-shadow-2       :rgba(128, 138, 157, 0.12) 0px 8px 32px, rgba(128, 138, 157, 0.08) 0px 1px 2px;