//background-color
$bg-clr-1           :#0d1421;
$bg-clr-2           :#222531;
$bg-clr-3           :#3861fb;
$bg-clr-4           :#646b80;
$bg-clr-5           :#171924;
$bg-clr-6           :#a6b0c3;
$bg-clr-7           :#858ca2;
$bg-clr-8           :#ff775f;
$bg-clr-9           :#17171a;

//text-color
$text-clr-1         :#a1a7bb;
$text-clr-2         :#6188ff;
$text-clr-3         :#16c784;
$text-clr-4         :#57657d;
$text-clr-5         :#58667e;
$text-clr-6         :#858ca2;
$text-clr-7         :#ea3943;

//border-color
$border-clr-1       :#252527;
$border-clr-2       :#323546;   
$border-clr-3       :#6188ff;
$border-clr-4       :#40424e;
$border-clr-5       :#3861fb;

//box-shadow
$box-shadow-1       :rgba(128, 138, 157, 0.12) 0px 1px 2px, rgba(128, 138, 157, 0.24) 0px 8px 32px;
$box-shadow-2       :rgba(128, 138, 157, 0.12) 0px 8px 32px, rgba(128, 138, 157, 0.08) 0px 1px 2px;
$box-shadow-3       :rgba(56, 97, 251, 0.3) 0px 0px 0px 4px;
$box-shadow-4       :0px 4px 24px #171924,0px 1px 2px #171924;
$box-shadow-5       :rgba(10, 10, 10, 0.29) 0px 0px 2px 0px;
$box-shadow-6       :rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;


//linear-gradient
$linear-1 :linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px);