.tooltips{
    position: absolute;
    z-index: 999;
    transform: translate(-35%, 7.5%);
    padding-top: 20px;  
    animation: 0.3s ease 0s 1 normal forwards running opacityValue;
    .tooltip-info{
        // box-shadow: $box-shadow-1;
                  
        border-radius: 10px;  
        .tooltip-body{
            &::before{
                content: "";
                display: block;
                width: 0px;
                z-index: 999;
                height: 0px;
                border-width: 10px;
                border-style: solid;
                border-image: initial;
                border-top-color: transparent;
                border-right-color: transparent;
                border-left-color: transparent;
                border-bottom-color: $bg-clr-2 ;
                position: absolute;
                top: 1px;
                left: calc(50% - 10px);
                
                
            }
        }
    }
}