.footer{
    background-color: $bg-clr-15;
    padding: 48px 0;
    &-web{
        display: flex;
        flex-flow: row wrap;
        padding: 0 24px;
        @include BootstrapMaxWidthResponsive(lg){
            flex-direction: column-reverse;                  
        }
        p{
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 21px;
            color: $text-clr-9;
        }
        .logo{
            @include BootstrapMaxWidthResponsive(lg){
                display: none;                
            }
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
        .info{
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                display: none;
                @include BootstrapMaxWidthResponsive(lg){
                    display: block;                
                }
            }
            .info-content{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                @include BootstrapMaxWidthResponsive(lg){
                    padding-top: 15px;  
                    justify-content: space-between;              
                }
                .item{
                    padding-right: 10px;
                    width: 25%;   
                    @include BootstrapMaxWidthResponsive(sm){
                        width: 35%;    
                        margin-bottom: 30px;           
                    }                 
                    p{
                        display: inline-block;
                        font-weight: 600;
                        font-size: 1rem;
                        line-height: 26px;
                        padding-bottom:18px;
                        color: #fff;
                    }
                    ul{
                        li{
                            line-height: 35px;
                            
                            a{
                                font-weight: 500;
                                font-size: 0.875rem;
                                color: $text-clr-9;
                                &:hover{
                                    color: $text-clr-10;
                                    svg{
                                        color: $text-clr-10;
                                    }
                                }
                                svg{
                                    color: $border-clr-5;
                                    margin-left: 6px;                            
                                }
                            }
                            span{
                                display: inline-block;
                                background-color: $border-clr-5;
                                padding: 2px 12px;
                                margin-left: 5px;
                                font-size: 0.6875rem;
                                font-weight: 600;
                                line-height: 18px;
                                border-radius: 40px;
                                color: #fff;
                                height: 22px;
                            }
                            .social{
                                display: flex;
                                align-items: center;
                            }
                            
                        }
                    }
                }        
            }
            .app{
                align-self: flex-end;
                display: flex;
                align-items: center;
                padding-top: 66px;
                @include BootstrapMaxWidthResponsive(lg){
                    width: 100%;
                    justify-content: space-between;                
                }
                @include BootstrapMaxWidthResponsive(xxs){
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                }    
                a{
                    display: inline-block;
                }
                a:last-child{
                    margin-left: 6px;
                }
                p{
                    display: none;
                    @include BootstrapMaxWidthResponsive(lg){
                        display: block;                
                    }
                }
            }
        }
    }
}