.header{
    width: 100%;
    max-width: 100%;
    &-web{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg-clr-1;
        &-hibars{
            @include BootstrapMaxWidthResponsive(lg){
                display: flex;
            } 
            width: 100%;
            padding: 15px 24px;
            display: none;
            justify-content: space-between;
            align-items: center;
            .left{
                display: flex;
                align-items: center;
                button{
                    background-color: inherit;
                    svg{
                        color: $text-clr-9;
                    }
                }
                button:first-child{
                    svg{
                        margin-top: 2px;
                    }
                }
                img{
                    margin: 0 25px;
                }
            }
        }
        &-topbar{
            padding: 8px 0;
            font-size: 0.75rem;
            font-weight: 500;
            white-space:nowrap;
            width: 100%;
            .web-container{
                padding: 0 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-left{
                    display: flex;
                    align-items: center;
                    margin-right: 8px;
                    flex-wrap: wrap;
                    .global-stats{
                        display: flex;
                        align-items: center;
                        .gas:has(.eth-gas:not(:hover)) .tooltips{
                            --dp-c : none;
                        }
                        .gas:has(.eth-gas:hover) .tooltips{
                            --dp-c : block;
                        }
                        .glo-stat-item{
                            margin-right: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .eth-gas-img{
                                margin-right: 2px;
                                svg{
                                    color: $text-clr-1; 
                                }
                            }
                            .base-text{
                                color: $text-clr-1;
                                font-size: 0.6875rem;
                                font-weight: 500;
                                // line-height: 150%;
                            }          
                            .links{                          
                                color: $text-clr-2 ;
                                font-size: 0.6875rem;
                                font-weight: 500;
                                white-space: nowrap;
                                display: inline-block;                           
                            }
                            .percent-change{
                                margin-left: 6px;
                                display: flex;
                                align-items: center;
                                svg,.value{
                                    color: $text-clr-3;
                                }
                                .value{
                                    margin-left: 2px;
                                    font-size: 0.6875rem;
                                    font-weight: bold;
                                    white-space: nowrap;
                                }
                            }
                            .downarrow{
                                margin-left: 2px;
                                margin-bottom: 1px;
                                svg{
                                    color: $text-clr-2;    
                                }
                            }
                        }
                        .glo-stat-item:last-child{
                            @include BootstrapMaxWidthResponsive(sm){
                                display: none;
                            } 
                        }
                        .glo-stat-item:nth-child(4){
                            @include BootstrapMaxWidthResponsive(xs){
                                display: none;
                            } 
                        }
                        .glo-stat-item:nth-child(2){
                            @include BootstrapMaxWidthResponsive(xm){
                                display: none;
                            } 
                        }
                        .dominance{
                            @include BootstrapMaxWidthResponsive(md){
                                display: none;
                            } 
                        }
                        .gas{
                            .eth-gas{
                                position: relative;
                            }
                            .tooltips{      
                                display: var(--dp-c);                   
                                top: 0;
                                left: -19px;
                                @include BootstrapMaxWidthResponsive(sm){
                                    left: -160px;
                                } 
                                .tooltip-info{
                                    background-color: $bg-clr-2;
                                    padding: 24px;                                                                                         
                                    .tooltip-body{
                                        .gas-values{
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            .value{
                                                display: flex;
                                                flex-direction: column;
                                                align-items: flex-start;
                                                justify-content: center;                                           
                                                .gwei{
                                                    color: white;
                                                    font-size: 0.875rem;
                                                    font-weight: 600;
                                                    padding: 5px 20px 5px 0; 
                                                    line-height: 25px;                                                 
                                                }                                               
                                            }
                                            .value:not(:last-child){
                                                .gwei{
                                                    border-right: 1px solid $bg-clr-4;
                                                }
                                            }
                                            .value:not(:first-child){
                                                padding-left: 20px;
                                            }
                                        }
                                        .supporter{
                                            margin-top: 15px;
                                        }
                                        .gas-values .value:has(.title,.sec),.supporter{
                                            font-size: 0.6875rem;
                                            color: $bg-clr-4;
                                        }
                                    }
                                }
                            }
                        }    
                    }
                }
                &-right{
                    display: flex;
                    align-items: center;
                    @include BootstrapMaxWidthResponsive(lg){
                        display: none;
                    } 
                    .options{
                        display: flex;
                        align-items: center;
                        &-item{
                            margin-right: 12px;
                            display: flex;
                            align-items: center;
                            .lang-accordion{
                                .accordion{                                 
                                    .accordion-header{
                                        button{
                                            background-color: inherit;
                                            font-size: 0.75rem;
                                            font-weight: 600;
                                            color: white;
                                            white-space: nowrap;
                                            display: flex;
                                            align-items: center;
                                            svg{
                                                color: white;
                                                margin-left: 4px;
                                                margin-bottom: 2px;
                                            }
                                        }
                                    }
                                    .accordion-collapse{
                                        left: -143px;
                                        top: 22px;
                                        .accordion-body{
                                            width: 200px;                                            
                                            border: 1px solid $border-clr-2;
                                            background-color: $bg-clr-5;
                                            padding: 15px;
                                            .lang-search{
                                                width: 100%;
                                                position: relative;
                                                input{
                                                    padding-left: 30px;
                                                    padding-right: 16px;
                                                    border: 1px solid $border-clr-4 ;
                                                    line-height: 21px;
                                                    font-size: 0.875rem;
                                                    border-radius: 8px;
                                                    background-color: $bg-clr-5;
                                                    color: #fff;
                                                    max-width: 100%;
                                                    width: 100%;
                                                    height: 40px;
                                                    &::placeholder{
                                                        color: $text-clr-4;
                                                    }              
                                                    &:hover{
                                                        border-color: $border-clr-5;
                                                    }  
                                                    &:focus{
                                                        border-color: $border-clr-5;
                                                        box-shadow: $box-shadow-3;
                                                    }                                  
                                                }
                                                svg{
                                                    z-index: 999;
                                                    left: 10px;
                                                    top: 13px;
                                                    position: absolute;
                                                    color: $bg-clr-6 ;
                                                }
                                            }
                                            .lang-lists{                                                
                                                overflow-y: scroll;
                                                max-height: 52vh;
                                                padding-top: 10px;
                                                width: 100%;
                                                &::-webkit-scrollbar {
                                                    width: 0 !important
                                                }                                                  
                                                .title{
                                                    padding-left: 12px;
                                                    font-size: 0.75rem;
                                                    font-weight: 500;
                                                    color: $bg-clr-4;
                                                    line-height: 24px;

                                                }
                                                .lang-list-populer,.lang-list{ 
                                                    li{
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: flex-start;
                                                        color: #fff;
                                                        font-size: 0.75rem;
                                                        font-weight: bold;
                                                        line-height: 16px;
                                                        padding: 10px 12px;
                                                        width: 100%;
                                                        span{
                                                            font-size: 0.75rem;
                                                            font-weight:normal;
                                                            color: $text-clr-1;
                                                            margin-left: 6px;
                                                        }
                                                    }
                                                }
                                               
                                            }
                                        }
                                    }
                                }
                            }
                            .currency{
                                background-color: inherit;
                                font-size: 0.75rem;
                                font-weight: 600;
                                color: white;
                                white-space: nowrap;
                                display: flex;
                                align-items: center;
                                svg{
                                    color: white;
                                    margin-left: 4px;
                                    margin-bottom: 2px;
                                }
                                &::before{
                                    content: '';
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50%;
                                    border-color:1px solid $border-clr-1 ;
                                    background-image: url("https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg");
                                    background-size: cover;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    margin-right: 5px;
                                }
                            }
                            .theme{
                                button{
                                    background-color: inherit;
                                    svg{
                                        color: white;
                                    }
                                }
                            }
                        }
                        &-border{
                            width: 1px;
                            height: 22.5px;
                            margin-right:12px;
                            background-color: $border-clr-2;
                        }
                       
                    }
                    .user-section{
                        display: flex;
                        align-items: center;
                        &:has(.diamond:not(:hover)) .tooltips{
                            --dp-c : none;
                        }
                        &:has(.diamond:hover) .tooltips{
                            --dp-c : block;
                        }
                        .diamond{
                            position: relative;
                            &-img{
                                display: flex;
                                padding: 8px 6px 6px;
                                border-radius: 50%;
                                bottom: 2px; 
                                position: relative;                     
                                &:hover{
                                    background-color: $bg-clr-2;
                                }
                            }
                            .tooltips{      
                                display: var(--dp-c);                   
                                top: 13px;
                                left: -34px;
                                .tooltip-info{
                                    background-color: $bg-clr-1;
                                    padding: 3px;                                                                                         
                                    .tooltip-body{
                                        width: 320px;
                                        padding: 12px;
                                        border-radius: 8px;
                                        box-shadow: $box-shadow-2;
                                        white-space: break-spaces;
                                        &::before{
                                            display: none;
                                        }
                                        img{
                                            float: left;
                                            margin-right: 16px;
                                            margin-bottom: 16px;
                                        }
                                        .title{
                                            font-size: 0.75rem;
                                            line-height: 18px;
                                            font-weight: 500;
                                            color: white;
                                            margin: 4px 0;
                                        }
                                        .desc{
                                            font-size: 0.75rem;
                                            line-height: 18px;
                                            font-weight: 500;
                                            color: $text-clr-1;
                                        }
                                    }
                                }
                            }
                        }
                        .signup-btn,.login-btn{
                            button{
                                display: flex;
                                align-items: center;
                                justify-self: center;
                                height: 32px;
                                padding: 0 16px;
                                border-radius: 8px;
                                font-size: 0.75rem;
                                font-weight: 600;
                                border: 1px solid;
                            }
                        }
                        .login-btn{
                            margin: 2px 8px 2px 12px;
                            button{
                                background-color: inherit;                            
                                border-color: $border-clr-3;                               
                                color: $border-clr-3;                                                                
                                &:hover{
                                    background-color: $bg-clr-2 ;
                                }
                            }
                        }
                        .signup-btn{
                            position: relative;
                            button{
                                color: white;
                                background-color:$bg-clr-3;
                                border-color: $bg-clr-3;
                            }
                            img{
                                position: absolute;
                                z-index: 999;
                                pointer-events: none;
                                top: -17px;
                                left: 51px;
                            }
                        }
                    }
                }
            }
        }
        &-global{
            width: 100%;
            padding: 0 24px;
            @include BootstrapMaxWidthResponsive(lg){
                display: none;
            } 
            .web-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                &-left{
                    display: flex;
                    align-items: center;
                    .mainlogo{
                        // margin-top: -2px;
                        .logo-link{
                            display: flex;
                            align-items: center;
                            margin-right: 16px;
                            height: 60px;
                            width: 168px;
                            line-height: 60px;
                            margin-bottom: 2px;
                            svg{
                                width: 100%;
                                max-height: 100%;

                            }
                        }
                    }
                    .header-navbar{
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 16px;
                        .navbar{
                            padding: 0 !important;
                            &:has(.navbar-nav:first-child:hover) .first-nav {
                                .nav-item-link{
                                    color: $border-clr-3 !important;
                                }
                                .tooltips{
                                    --dp-c : block;
                                }
                                
                            }
                            &:has(.navbar-nav:first-child:not(:hover)) .first-nav .tooltips{
                                --dp-c : none;
                            }

                            &:has(.navbar-nav:nth-child(2):hover) .second-nav {
                                 .nav-item-link{
                                    color: $border-clr-3 !important;
                                }
                                .tooltips{
                                    --dp-c : block;
                                }
                            }
                            &:has(.navbar-nav:nth-child(2):not(:hover)) .second-nav .tooltips{
                                --dp-c : none;
                            }

                            &:has(.navbar-nav:nth-child(3):hover) .third-nav {
                                 .nav-item-link{
                                    color: $border-clr-3 !important;
                                }
                                .tooltips{
                                    --dp-c : block;
                                }
                            }
                            &:has(.navbar-nav:nth-child(3):not(:hover)) .third-nav .tooltips{
                                --dp-c : none;
                            }

                            &:has(.navbar-nav:nth-child(4):hover) .fourth-nav {
                                 .nav-item-link{
                                    color: $border-clr-3 !important;
                                }
                                .tooltips{
                                    --dp-c : block;
                                }
                            }
                            &:has(.navbar-nav:nth-child(4):not(:hover)) .fourth-nav .tooltips{
                                --dp-c : none;
                            }

                            &:has(.navbar-nav:nth-child(5):hover) .fifth-nav {
                                .nav-item-link{
                                   color: $border-clr-3 !important;
                               }
                               .tooltips{
                                   --dp-c : block;
                               }
                           }
                           &:has(.navbar-nav:nth-child(5):not(:hover)) .fifth-nav .tooltips{
                               --dp-c : none;
                           }                         
                            .navbar-nav{
                                padding: 20px 16.5px;
                                display: flex;
                                align-items: center;
                                min-height: 71px;                                  
                                .crypto-tooltip{
                                    .tooltips{      
                                        display: var(--dp-c);                                                      
                                        .tooltip-info{
                                            background-color: $bg-clr-1;
                                            padding: 3px;      
                                            box-shadow: $box-shadow-1;                                                                                   
                                            .tooltip-body{
                                                display: flex;
                                                justify-content: space-between;
                                                width: 100%;
                                                padding: 32px 24px;
                                                border-radius: 8px;    
                                                white-space: nowrap;
                                                &::before{
                                                    border-bottom-color:$bg-clr-1;
                                                    top: 3px;
                                                }
                                                .cryptocurrencies{
                                                    .title{
                                                        font-size: 0.875rem;
                                                        font-weight: 500;
                                                        line-height: 21px;
                                                        margin-left: 8px;
                                                        margin-bottom: 8px;
                                                        color: $bg-clr-4;
                                                        letter-spacing: -0.1px;
                                                    }
                                                    .title-m{
                                                        margin-top: 19px;
                                                    }
                                                    .menu{
                                                        a{
                                                            display: flex;
                                                            align-items: center;
                                                            border-radius: 8px;                                                         
                                                            max-width: 265px;
                                                            padding: 8px;
                                                            color: #fff;
                                                            font-size: 0.875rem;
                                                            font-weight: 600;
                                                            &:hover{
                                                                background-color: $bg-clr-2 ;
                                                            }
                                                            img{
                                                                margin-right: 16px;
                                                            }
                                                            svg{
                                                                color: $bg-clr-4;
                                                                margin-left: 8px;
                                                            }
                                                           
                                                        }
                                                        hr{
                                                            margin: 12px 0;
                                                            height: 1px;
                                                            border-width: 0;
                                                            background-color: $border-clr-2;
                                                            opacity: 1 !important;
                                                        }
                                                    }
                                                }
                                                .cryptocurrencies:nth-child(2){
                                                    margin: 0 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .nav-item{
                                    .nav-item-link{
                                        color: white;
                                        font-size: 0.875rem;
                                        font-weight: 600;
                                        display: flex;
                                        align-items: center;
                                        &:hover{
                                            color:$text-clr-2 ;
                                        }
                                    }
                                }
                                .first-nav{
                                    .tooltips{
                                        top: 0;
                                        left: 0;
                                    }
                                }
                                .second-nav{
                                    .tooltips{                                     
                                        top: 36px;
                                        left: 177px;                                     
                                    }
                                }     
                                .third-nav{
                                    .tooltips{
                                        top: 40px;
                                        left: 291px;                                       
                                    }
                                }
                                .fourth-nav{
                                    .tooltips{
                                        top: 22px;
                                        left: 314px;
                                        .tooltip-body{
                                            // padding: 13px !important;
                                            .cryptocurrencies{
                                                margin: 0 10px;
                                            }
                                        }
                                    }
                                }  
                                .fifth-nav{
                                    .tooltips{
                                        top: 29px;
                                        left: 477px;                                    
                                    }
                                }  
                                .second-nav,.third-nav,.fifth-nav{
                                    .tooltips{
                                        .tooltip-body{
                                            padding: 13px !important;
                                        }
                                    }
                                }   
                            }
                        }
                    }
                }
                &-right{
                    display: flex;
                    align-items: center;
                    .user-favorite{
                        display: flex;
                        align-items: center;
                        .watchlist,.portfolio{
                            display: flex;
                            align-items: center;
                            padding: 0 8px;
                            background-color: inherit;
                            color: white;
                            font-size: 0.75rem;
                            font-weight: 400;
                            height: 36px;
                            border-radius: 8px;
                            .star-text,.portfolio-text{
                                margin-left: 6px;
                            }
                            svg{
                                color:$text-clr-1 ;
                            }
                            &:hover{
                                background-color: $bg-clr-2;
                            }
                        }
                        .watchlist{
                            img{
                                margin-bottom: 1px;
                            }
                        }
                    }
                    .coin-search-btn{
                        background-color: $border-clr-2;
                        border-radius: 8px;
                        margin-left: 8px;
                        position: relative;
                        .search-input{
                            padding: 8px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            svg{
                                flex-shrink: 0;                                
                            }
                            .placeholder{
                                flex-direction: 1;
                                margin-left: 6px;
                                font-size: 0.75rem;
                                font-weight: 600;
                                width: 200px;
                                overflow: hidden;
                                line-height: 22.5px;
                            }
                            svg,.placeholder{
                                color: $bg-clr-4;
                            }
                            &:has(.search-tooltip:not(:hover)) .tooltips{
                            --dp-c : none;
                            }
                            &:has(.search-tooltip:hover) .tooltips{
                            --dp-c : block;
                            }
                            .search-tooltip{
                                flex-shrink: 0;
                                width: 20px;
                                height: 20px;
                                background-color: $bg-clr-4;
                                border-radius: 4px;
                                text-align: center;
                                color: white;
                                line-height: 19px;
                                position: relative;
                                .tooltips{      
                                display: var(--dp-c);                   
                                top: 10px;
                                left: -66px;
                                .tooltip-info{
                                    background-color: white;
                                    padding: 3px;                                                                                         
                                    .tooltip-body{
                                        color: #000;
                                        font-size: 0.75rem;
                                        font-weight: 600;
                                        width:128px;
                                        &::before{
                                            border-bottom-color: white;
                                            top: 5px;
                                            left: calc(50% - -46px);
                                        }
                                    }
                                }
                                }
                            }
                        }
                        .search-area{
                            display: var(--dp-v);
                            position: absolute;                           
                            top:0;
                            animation: 0.5s ease 0s 1 normal forwards running opacityValue;
                            max-width: 400px;
                            left: -138px;
                            box-shadow: $box-shadow-4;
                            z-index: 9999;
                            &-content{
                                width: 400px;
                                min-height: 140px;
                                max-height: 673px;
                                border-radius: 8px;
                                background-color: $bg-clr-1;
                                .searching-label{
                                    padding: 16px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    font-size: 0.835rem;
                                    input{
                                        flex: 1;
                                        width: 310px;
                                        background-color: $bg-clr-1;
                                        color: #fff;
                                        padding-left: 7px;
                                        &::placeholder{
                                            color: $bg-clr-4;
                                        }
                                    }
                                    > svg{
                                        margin-top: 1px;
                                    }
                                    svg{
                                        color: $bg-clr-7;
                                    }
                                    .close{
                                        cursor: pointer;
                                    }
                                }
                                .trending{
                                    padding: 8px;                                  
                                    .title{
                                        display: flex;
                                        align-items: center;
                                        padding: 0 8px;
                                        margin-bottom: 8px;
                                        font-size: 0.6875rem;
                                        color: $bg-clr-7;
                                        svg{
                                            color: $bg-clr-8;
                                        }
                                    }
                                    .trend-list{
                                        li:first-child{
                                            a{
                                                background-color: $bg-clr-2;
                                            }
                                        }
                                        li{
                                            a{
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                padding: 10px;                                                
                                                border-radius: 8px;
                                                .info{
                                                    display: flex;
                                                    align-items: center;
                                                    padding-right: 8px;
                                                    img{
                                                        border-radius: 10px;
                                                        margin-right: 8px;                                                        
                                                    }
                                                    .name{
                                                        white-space: nowrap;
                                                        color: #fff;
                                                        font-weight: 600;
                                                        font-size: 0.875rem;
                                                    }
                                                    .symbol{
                                                        margin-left: 6px;
                                                        font-size: 0.75rem;
                                                        color: $text-clr-1 ;
                                                    }
                                                }
                                                .rank{
                                                    color: $bg-clr-7;
                                                    font-size: 0.75rem;
                                                    font-weight: 500;
                                                }
                                                &:hover{
                                                    background-color: $bg-clr-2;
                                                }
                                            }
                                        }
                                    }
                                }
                                .recent-searches{
                                    padding-bottom: 10px;
                                    .title{
                                        font-size: 0.6875rem;
                                        color: $bg-clr-7;
                                        margin-left: 16px;
                                        margin-top: 16px;
                                    }
                                    .recentlist{
                                        display: flex;
                                        align-items: center;
                                        padding: 0 8px;
                                        margin: 8px 0;
                                        max-width: 400px;
                                        overflow: auto hidden;                                        
                                        li{
                                            margin-right: 8px;
                                            a{
                                                padding: 8px 26px;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                background-color: $bg-clr-2;
                                                border-radius: 8px;
                                                img{
                                                    border-radius: 10px;
                                                }
                                                .name{
                                                    margin-top: 4px;
                                                    color:#fff;
                                                    white-space: nowrap;
                                                    font-size: 0.75rem;
                                                    font-weight: 500;    
                                                    line-height: 18px;                                        
                                                }
                                                .symbol{
                                                    font-size: 0.6875rem;
                                                    color: $bg-clr-7;
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-hibar-line{
            display:none;
            @include BootstrapMaxWidthResponsive(lg){
                display: block;
            } 
        }
        &-line{
            width: 100%;
            height: 1px;
            background-color: $border-clr-2;
        }
        
    }
}



