.modal{
    
    display: flex !important;
    align-items: center;
    .modal-dialog{
        max-width: 100% !important;
        .modal-content{
            background-color: $bg-clr-2;
            width: 100%;
            .modal-currency,.modal-signvalidate{
                .currency-title{
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.5rem;                                       
                    display: flex;
                    justify-content: space-between;
                    span{
                        svg{
                            cursor: pointer;
                            color: $bg-clr-6;
                        }
                    }
                }
            }
            .modal-currency{
                padding: 0 !important;    
                .currency-title{
                    padding: 24px;
                    line-height: 34px; 
                }              
                .search-bar{
                    margin-top: 8px;
                    padding: 0 24px 16px 24px;
                    input{
                        padding: 0 16px;
                        border: 1px solid $border-clr-4 ;
                        line-height: 18px;
                        font-size: 0.75rem;
                        border-radius: 8px;
                        background-color: $border-clr-2;
                        color: #fff;
                        max-width: 100%;
                        width: 100%;
                        height: 30px;
                        &::placeholder{
                            color: $text-clr-4;
                        }              
                        &:hover{
                            border-color: $border-clr-5;
                        }  
                        &:focus{
                            border-color: $border-clr-5;
                            box-shadow: $box-shadow-3;
                        }                                  
                    }
                }
                .currency-items{               
                    padding: 0 24px 16px 24px;
                    overflow-y: scroll;
                    max-height: 49.6vh;
                    &::-webkit-scrollbar {
                        width: 0 !important
                    }  
                    .currency-item{
                        overflow-y: scroll;
                        max-height: 50vh;
                        padding-top: 10px;
                        width: 100%;
                        &::-webkit-scrollbar {
                            width: 0 !important
                        } 
                        span{
                            font-size: 0.75rem;
                            color: $text-clr-1;
                            line-height: 18px;
                            padding-left: 12px;
                        }
                    }
                    .group-list{
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);  
                        @include BootstrapMaxWidthResponsive(xs){
                            grid-template-columns: repeat(3, 1fr);
                        } 
                        gap: 4px;
                        margin-top: 4px;
                        margin-bottom: 10px;
                        .checking{
                            background-color: $border-clr-2;
                        }
                        .list-item{
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 10.5px 13px;
                            cursor: pointer;
                            &:hover{
                                background-color: $border-clr-2;
                            }
                            .item-option{
                                display: flex;
                                align-items: center;
                                .option-img{
                                    display: flex;
                                    align-items: center;
                                }
                                .option-currency{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .name,.symbol{
                                        font-size: 0.75rem;
                                        cursor: pointer;
                                        font-weight: 500;
                                        line-height: 133%;
                                        white-space: nowrap;
                                    }
                                    .name{
                                        color: #fff;                                 
                                       
                                    }
                                    .symbol{
                                        color: $text-clr-5;                                        
                                    }
                                }                        
                            }
                            .item-check{
                                margin-left: 10px;
                                svg{
                                    background-color: $text-clr-3;
                                    border-radius: 50% ;
                                    path:first-child{
                                        color: $bg-clr-1;
                                    }
                                    path:nth-child(2){
                                        color: $text-clr-3;
                                    }
                                }
                            } 
    
                        }
                    }
                }
               
            }
            .modal-signvalidate{
                padding: 24px 32px 36px;
                .currency-title{
                    margin-bottom: 40px; 
                    position: relative;
                    justify-content: center;
                    gap: 25px;
                    h4{
                        font-size: 1.375rem;
                        cursor: pointer;
                        color: $text-clr-1;
                        font-weight: 500;
                        position: relative;
                    }
                    span{
                        position: absolute;
                        top: -14px;
                        right: -14px;
                    }       
                    .checked{
                        color: #fff;
                        font-weight: bold;
                    }       
                    .bordered{
                        position: absolute;
                        background-color: $text-clr-2;
                        pointer-events: none;
                        bottom: -13px;
                        height: 5px;
                        width: 28px;
                        border-radius: 100px;
                        transform: translateX(-50%);
                        display: block;
                    }     
                }
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    label{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 25px;
                        width: 100%;
                        span{
                            display: block;
                            color: #fff;
                            font-size: 0.75rem;
                            font-weight: 600;
                            margin-bottom: 12px;
                        }
                        input:not([type=checkbox]){
                            background-color: $bg-clr-20;
                            padding: 0 18px;
                            border: 1px solid $border-clr-7;
                            border-radius: 8px;
                            color: #fff;
                            font-size: 0.875rem;
                            height: 56px;
                            position: relative;
                            width: 430px;
                            max-width: 100%;
                            &::placeholder{
                                color: $text-clr-4;
                            }              
                            &:hover{
                                border-color: $border-clr-5;
                            }  
                            &:focus{
                                border-color: $border-clr-5;
                                box-shadow: $box-shadow-3;
                            }     
                        }
                    }
                    .rights{  
                        display: flex;
                        align-items: center !important;
                        flex-direction: row !important;                    
                        p{
                            color: #fff;
                            font-size: 0.875rem;
                            font-weight: 500;                            
                            margin-left: 12px;
                        }
                    }
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        background-color: $border-clr-5;
                        color: #fff;
                        font-size: 0.875rem;
                        font-weight: 600;
                        height: 48px;
                        border-radius: 8px;
                        margin-top: 10px;
                    }
                }
                .other-sign-in{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    .or{
                        margin: 24px 0 16px;
                        font-size: 1rem;
                        color: #fff;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        &::before,&::after{
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: $bg-clr-21;                            
                        }
                        span{
                            display: inline-block;
                            margin: 0 12px;
                        }
                    }
                    button{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $bg-clr-1;
                        color: #fff;
                        font-size: 0.875rem;
                        padding: 12px;
                        margin-bottom: 16px;
                        border: 1px solid $bg-clr-19;
                        border-radius: 8px;
                        img{
                            margin-right: 8px;
                        }
                        &:hover{
                            background-color: $bg-clr-2;
                        }
                    }
                }
                .privacy{
                    margin-top: 20px;
                    font-size: 0.75rem;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    color: #a1a7bb;
                    p{
                        text-align: center;
                        line-height: 20px;
                    }
                    span{
                        color: $text-clr-2;
                    }
                }
            }
        }
    }
    
}