.coins{
    background: $linear-1;
    background-color: #17171a;
    &-body{
        max-width: 1402px;
        padding: 0 16px;
        margin: 0 auto;
        .coinlist{
            padding-top: 5px;
            .topbar{
                &:has(.topbar-header input:not(:checked)) .topbar-cards{
                    --ds-k:none;                  
                }
                &:has(.topbar-header input:checked) .topbar-cards{
                    --ds-k:flex;
                    align-items: center;
                    justify-content: space-between;
                }
                &-header{
                    display: flex;
                    align-items: center;
                    .title{
                        
                        h1{
                            font-size: 1.5rem;
                            color: #fff;
                            font-weight: bold;                    
                            margin-bottom: 6px;
                            line-height: 34px;
                        }
                        .desc{
                            color: $text-clr-1;
                            font-size: 0.875rem;
                            line-height: 21px;
                            display: flex;
                            align-items: center;
                            span:first-child{
                                color: $text-clr-3;
                                svg{
                                    color: $text-clr-3;
                                }
                            }
                            span:last-child{
                                text-decoration: underline;
                                cursor: pointer;
                                margin-left: 7.5px;
                            }
    
                        }
                    }
                    .change{
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
                        align-self: stretch;
                        padding: 35px 0;
                        flex-grow: 1;
                        text-align: end;
                        color: $text-clr-1;
                        font-size: 0.875rem;
                        line-height: 21px;
                       
                        &:has(input:checked) .switch-label{
                            background-color: $border-clr-3;
                            .switch-button{
                                left: calc(100% - 3px);
                                transform: translateX(-100%);
                            }
                        }
                        input[type="checkbox"]{
                            width: 0;
                            height: 0;
                            display: none;
                        }
                        .switch-label{
                            display: flex;
                            width: 48px;
                            height: 24px;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;  
                            border-radius: 100px;
                            position: relative;
                            transition: background-color 0.2s ease 0s;
                            background: $border-clr-2; //$border-clr-3
                            margin-left: 6px;
                            .switch-button{
                                position: absolute;
                                top: 3px;
                                left: 3px;
                                width: 18px;
                                height: 18px;
                                border-radius: 100%;
                                transition: 0.25s all ease;
                                background: #fff;
                                box-shadow: $box-shadow-5;
                                // 
                            }
                        }
                    }
                }
                &-cards{
                    display: var(--ds-k);
                    margin-bottom: 24px;
                    padding-top: 15px;
                    .card{                 
                        width: 33%;
                        max-width: 448px;
                        height: 200px;
                        box-shadow: $box-shadow-6;
                        padding: 16px;                      
                        background-color: $bg-clr-1;
                        border-radius: 8px;
                        
                    }
                    .first-card, .second-card{
                        overflow: hidden;
                    }
                    .first-card, .second-card,.third-card{
                        .top{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            .left,.right{
                                display: flex;
                                align-items: center;
                                line-height: 22.5px;
                            }
                            .left{
                                color: #fff;
                                font-weight: bold;
                                img{
                                    margin-right: 10px;
                                }
                                .star{
                                    font-size: 20px;
                                    margin-right: 10px;
                                }
                            }
                            .right{
                                color: $border-clr-3;
                                font-size: 0.75rem;
                                font-weight: 600;                                
                            }                            
                        }
                        .lists{
                            padding-left: 7px;                        
                            .list{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                height: 40px;
                                cursor: pointer;
                                white-space: nowrap;
                                .info{
                                    display: flex;
                                    align-items: center;
                                    .order{
                                        color: $bg-clr-7;
                                        line-height: 18px;
                                    }
                                    img{                                       
                                        border-radius: 12px;
                                    }
                                    .populerimg{
                                        margin-left: 16px;
                                    }
                                    .comintyimg{
                                        margin-left: -7px;
                                    }
                                    
                                }
                                .change{
                                    font-size: 0.75rem; 
                                    font-weight: bold;
                                    line-height: 22.5px;  
                                    svg{
                                        margin-right: 4px;
                                    }
                                }
                                .down{
                                    color: $text-clr-7 !important;
                                    svg{
                                        color: $text-clr-7
                                    }
                                }
                                .up{
                                    color: $text-clr-3 !important;
                                    svg{
                                        color: $text-clr-3;
                                    }
                                }
                                .follow{                                    
                                    padding: 0 5px;                                   
                                    display: flex;
                                    align-items: center;                                 
                                    button{
                                        background-color:$bg-clr-2;
                                        color: #fff;
                                        font-size: 0.75rem;                                       
                                        height: 32px;
                                        font-weight: bold;
                                        border-radius: 8px;
                                        padding: 0 20px;
                                    }
                                }
                                .name{
                                    color: #fff;
                                }
                                span,.name-tag{                                     
                                    color: $text-clr-6;                                   
                                }
                                svg{
                                    color: $border-clr-3;
                                }
                                .name,.symbol,.order,.name-tag{
                                    font-size: 0.75rem;
                                }
                                .name,.symbol{
                                    margin-left: 8px;
                                }
                            }
                        }
                    }               
                    .second-card{
                        .carousel{
                            &-indicators{
                                bottom: -28px;
                                .active{
                                    background-color: $border-clr-3;
                                    opacity: 1;
                                }
                                button{
                                    width: 7px;
                                    height: 7px;
                                    border-radius: 50%;     
                                                       
                                }
                            }
                            &-inner{
                                height: 168px;
                                .carousel-item{
                                    max-width: 416px;
                                    min-width: 416px;
                                    min-height: 100%;
                                    overflow: hidden;
                                    transition: transform 0.3s ease-in-out
                                }
                                .carousel-item:first-child{
                                    background-color: #0d1421;
                                }
                            }
                            &-control{
                                &-next,&-prev{
                                    display: none;
                                }
                            }
                        }
                        .content{
                            display: flex;
                            padding-top: 15px;
                            .logo{
                                margin-right: 12px;
                                width: 36px;
                                height: 36px;
                                display: block;
                                img{
                                    border-radius: 100%;
                                }
                            }
                           
                            .big-img{
                                margin-right: 16px;
                                img{
                                    border-radius: 8px;
                                    object-fit: cover;
                                }
                            }
                            .comment{
                                flex-grow: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .head{
                                    display: flex;
                                    align-items: center;
                                    .name{
                                        margin-left: 0 !important;
                                        color: #fff;
                                    }
                                    .name-tag{
                                        color: $text-clr-6;   
                                    }
                                    .name-tag,.name{
                                        font-size: 0.75rem;
                                    }
                                    svg{
                                        color: $border-clr-5 ;
                                    }
                                    img{
                                        border-radius: 100%;
                                    }
                                    .big-img-name{
                                        font-size: 0.875rem;
                                        color: $text-clr-1;
                                        font-weight: 500;
                                        margin-left: 5px;
                                        
                                    }
                                }
                                .head-m{
                                    margin-bottom: 3px;
                                }
                                .desc{
                                    margin-top: 7px;
                                    font-size: 0.875rem;
                                    color: #fff;
                                    line-height: 20px;
                                    margin-bottom: 8px;
                                    font-weight: 600;
                                }
                                .bottom{
                                    display: flex;
                                    align-items: center;
                                    color: $bg-clr-7;
                                    font-size: 0.75rem;
                                    line-height: 22.5px;
                                    .date{
                                        margin-right: 10px;
                                        display: flex;
                                        align-items: center;
                                        svg{
                                            color: $bg-clr-7;
                                            margin-right: 6px;
                                        }
                                        .point{
                                            height: 4px;
                                            width: 4px;
                                            border-radius: 50%;
                                            background-color: $bg-clr-7;
                                            margin-right: 6px;
                                        }
                                    }
                                    a{
                                        padding: 4px 8px;
                                        color: white;
                                        font-size: 0.75rem;
                                        font-weight: 600;
                                        border-radius: 40px;
                                        display: flex;
                                        align-items: center;
                                        background-color: $border-clr-2;
                                        img{
                                            border-radius: 100%;
                                        }
                                        span{
                                            margin-left: 5px;
                                            line-height: 1.5;
                                        }
                                    }
                                   
                                }

                            }
                        }
                    }
                    .third-card{                      
                            .top{
                                position: relative;
                                &:has(.fear-info span:hover) .tooltips{
                                    --dp-c:block;
                                }
                                &:has(.fear-info span:not(:hover)) .tooltips{
                                    --dp-c:none;
                                }
                                .fear-info{                                
                                   span{
                                    display: flex;
                                    align-items: center;
                                    margin-left: 10px;
                                    width: 30px;
                                    height: 23px;
                                    max-height: 23px;
                                    svg{
                                        color: $bg-clr-4;                                      
                                    }
                                   }
                                }
                                .tooltips{      
                                    display: var(--dp-c);                   
                                    top: -256px;
                                    left: -19px;                                
                                    transform: translate(1.5%, 2.5%) !important;
                                    box-shadow: $box-shadow-4;
                                    .tooltip-info{
                                        background-color: $bg-clr-2;
                                        padding: 16px;                                                                                         
                                        .tooltip-body{  
                                            max-width: 320px;   
                                            &::before{
                                                transform: rotate(180deg);
                                                transform-origin: 52% 129px;
                                            }                                    
                                           p{
                                                color: #fff;
                                                font-size: 0.75rem;
                                                word-break: break-word;                                            
                                                line-height: 18px;
                                           }
                                        }
                                    }
                                }
                            }
                        
                        .fear-index{
                            width: 177px;
                            height: 178px;
                            margin: 0 auto;
                            text-align: center;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            .mark{
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                border: 2px solid $bg-clr-1 ;
                                background-color: #fff;
                                position: absolute;
                                top: 102px;
                                left: -5px;
                                z-index: 1;
                                transform-origin: 93.5px 8px;
                                transform: rotate(109.562deg);
                            }
                            svg{
                                position: absolute;
                                left: 0;
                                top: 12%;
                            }
                            .fear-value{
                                font-size: 1.5625rem;
                                color: #fff;
                                font-weight: bold;
                                line-height: 32.5px;
                            }
                            .fear-text{
                                font-size: 0.6875rem;
                                color: $text-clr-1;
                                margin-top: -2px;
                            }
                        }
                    }
                }
                &:has(.topbar-customize .options .option-list .extra-categori input[type="checkbox"]:checked) .topbar-extra{
                    --dp-e:block;
                }
                &:has(.topbar-customize .options .option-list .extra-categori input[type="checkbox"]:not(:checked)) .topbar-extra{
                    --dp-e:none;
                }
                &-customize{
                    margin-top: 16px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    white-space: nowrap;                 
                    .categories,.options{
                        .categori-list,.option-list{
                            display: flex;
                            align-items: center;
                            li{
                                margin-right: 4px;
                                border-radius: 8px;
                                display: flex;
                                align-items: center;
                                a,button{
                                    padding: 5px 8px;
                                    font-size: 0.75rem;
                                    display: flex;
                                    align-items: center;
                                    font-weight: 600;
                                    height: 32px;
                                    border-radius: 8px !important;
                                }                                
                            }                        
                            .all-user-categori{
                                a{
                                    color: $border-clr-3 ;
                                    background-color: $bg-clr-10;
                                }
                            }
                            .member-categori{
                                input[type="checkbox"]{
                                    display: none;
                                    width:  0;
                                    height: 0;
                                }
                                a,button{
                                    background-color: $border-clr-2;
                                    color: #fff;
                                    cursor: pointer;
                                    svg{
                                        color: $text-clr-1;  
                                        margin-right: 4px;                                     
                                    }
                                    &:hover{
                                        background:$linear-2; 
                                        svg{
                                            color: #fff;
                                        }
                                    }
                                                            
                                }                                
                                .accor-member{
                                    svg{
                                        margin-left: 2px !important;
                                    }
                                }
                                button{
                                    background-color: $border-clr-2;
                                    border-radius: 4px;                                 
                                    &:hover{
                                        background:$linear-2; 
                                    }
                                }
                                span{
                                    font-size: 0.75rem;
                                    color: $text-clr-8;
                                    margin-right: 6px;
                                }
                                .accordion{                                 
                                    .accordion-header{
                                       button{
                                        svg{
                                            margin-left: 2px !important;
                                            margin-right: 0 !important;
                                        }
                                       }
                                    }
                                    .accordion-collapse{
                                        left: -10px;
                                        top: 40px;                                       
                                        max-height: 140px;
                                        box-shadow: $box-shadow-4;
                                        background-color: $border-clr-2;
                                        .accordion-body{
                                            background-color: $bg-clr-2;
                                            padding: 5px 9px;
                                            position: relative;
                                            .row-v{
                                                padding: 5px 12px;
                                                color:#fff;
                                                font-size: 0.875rem;
                                                font-weight: 600;                                                
                                                height: 40px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 8px;
                                                &:hover{
                                                    background-color: $border-clr-2;
                                                }
                                            }                                            
                                        }
                                    }
                                }
                            }
                            .categori{
                                a{
                                    color: $text-clr-8;
                                }
                            }
                            .border{
                                height: 16px;
                                width: 1px;
                                background-color: $border-clr-2;
                                margin: 0 16px;
                            }
                            .extra-categori{
                                button{
                                    padding: 0 !important;
                                    label{
                                        cursor: pointer;
                                        padding: 5px 8px;
                                        height: 32px;
                                        display: flex;
                                        align-items: center;
                                    }     
                                }
                            }
                        }
                    }
                }
                &-extra{
                    display: var(--dp-e);
                    margin-top: 0 !important;
                    padding-top: 16px;
                    border-top: 1px solid $border-clr-2;
                    .options{
                        .option-list{
                            .extra-categori{
                                margin-right: 15px !important;
                                
                                .accordion{                                 
                                    .accordion-header{
                                       button{
                                        border-radius: 20px !important;
                                        padding: 5px 8px !important;
                                        svg{
                                            margin-left: 2px !important;
                                            margin-right: 0 !important;
                                        }
                                       }
                                    }
                                    .accordion-collapse{
                                        left: -3px;
                                        top: 40px;                                       
                                        box-shadow: $box-shadow-4;
                                        background-color: #000;
                                        max-height: 320px;
                                        .accordion-body{
                                            background-color: #000;
                                            padding:8px;
                                            position: relative;
                                            .search-label{
                                                width: 100%;
                                                svg{
                                                    position: absolute;
                                                    color: $bg-clr-4;
                                                    top: 16px;
                                                    left: 16px;
    
                                                }
                                                input{
                                                    padding: 6px 8px 6px 32px;
                                                    margin-right: 2px;
                                                    background-color: $bg-clr-11;
                                                    border: 2px solid $bg-clr-11;
                                                    font-size: 0.75rem;
                                                    font-weight: 500;
                                                    border-radius: 8px;
                                                    color: $text-clr-9;
                                                    width: 100%;
                                                    &:hover{
                                                        background-color: $bg-clr-12;
                                                        border-color: $bg-clr-12;
                                                    }
                                                    &:focus{
                                                        border-color: $border-clr-6;
                                                        background-color: $bg-clr-11;
                                                    }
                                                    &::placeholder{
                                                        color: $text-clr-4;
                                                    }
                                                }
                                            }
                                            .extra-list{
                                                padding-top: 10px;
                                                overflow-y: scroll;
                                                max-height: 260px;                                                
                                                width: 100%;        
                                                &::-webkit-scrollbar {
                                                    width: 0 !important
                                                }                                       
                                                .info{
                                                    margin: 16px 0px 8px;
                                                    padding: 0px 8px 8px;
                                                    color: $text-clr-1;
                                                    font-size: 0.6875rem;
                                                    font-weight: 500;
                                                    line-height: 18px;
                                                    border-bottom: 1px solid $border-clr-2;
                                                }
                                                ul{
                                                    li{
                                                        padding: 13.5px 8px;
                                                        font-size: 0.875rem;
                                                        color: #fff;
                                                        font-weight: 600;
                                                        line-height: 21px;
                                                        border-radius: 8px;
                                                        cursor: pointer;

                                                    }
                                                }
                                            }
                                           
                                                                                  
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &-extra,&-cards{
                    animation: 0.5s ease 0s 1 normal forwards running opacityValue ;        
                }
            }
            .coin-table{
                &-wrapper{                                  
                    .table-head,.table-body-item{
                        display: flex;
                        align-items: center;       
                        
                        & > div:not(:nth-child(2),:nth-child(3)){
                            text-align: end;
                        }
                        & > div:nth-child(2),& > div:nth-child(3){
                            text-align: start;
                        }
                           
                        & > div{                            
                            cursor: pointer;
                        }
                       .market-cap,.volume,.supply{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            svg{
                                color: $bg-clr-4;
                                margin-left: 4px;
                            }
                       }
                       .star{
                        width: 2.62%;
                       }
                       .rank{
                        width: 2.89%;
                       }
                       .name{
                        width: 13%;
                       }
                       .price{
                        width: 8.1%;
                       }
                       .h1-change,.h24-change,.d7-change{
                        width: 5.6%;
                       }                      
                       .market-cap{
                        width: 10.9%;
                       }
                       .volume{
                        width: 12.2%;
                       }
                       .supply{
                        width: 14.32%;
                       }
                       .basic-graph{
                        width: 13.4%;
                       }
                       .go-detail{
                        width: 5.5%;
                       }

                    }
                    .table-head{
                        font-size: 0.75rem;
                        color: #fff;
                        font-weight: bold;
                        border-top: 1px solid $bg-clr-2;
                        border-bottom: 1px solid $bg-clr-2;
                        & > div{
                            padding: 16.5px 10px;                      
                        }
                    }
                    .table-body{                   
                           &-item{
                            border-bottom: 1px solid $bg-clr-2;   
                            & > div{
                                padding: 13px 10px;                      
                            }      
                            .t-body-price,.t-body-mrkcap,.t-body-v,.t-body-sp,.t-body-name{
                                a{
                                    font-size: 0.875rem !important;
                                    color: #fff;
                                    line-height: 22.5px;
                                    font-weight: 500;
                                }
                            }  
                            .t-body-rank,.t-body-change{                           
                                font-size: 0.875rem;
                            }             
                            .star{
                                svg{
                                    color: $bg-clr-13;
                                    &:hover{
                                        color: $bg-clr-14;
                                    }
                                }
                            }                            
                            .t-body-rank{          
                                color: $text-clr-8;
                                line-height: 21px;
                                font-weight: 500;                          
                            }
                            .t-body-name{
                                a{
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    img{
                                        border-radius: 12px;
                                    }
                                    p,span{                                       
                                        margin-left: 8px;
                                        line-height: 24px
                                    }
                                    p{                            
                                        font-weight: 600;                            
                                    }
                                    span{
                                        font-weight: 500;
                                        color: $bg-clr-13;
                                    }
                                }
                            }                          
                            .t-body-change{
                                color: $text-clr-3;
                                svg{
                                    color: $text-clr-3;
                                    margin-right: 2px;
                                }
                            }
                            .t-body-v{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-end;
                               a{
                                    p{
                                        line-height: 22.5px;
                                        font-weight: 500;
                                    }
                               }
                               span{
                                font-size: 0.75rem;
                                font-weight: 500;
                                color: $text-clr-8;
                                text-align: end;
                               }
                            }
                            .basic-graph{
                               a{
                                display: block;
                                width: 100%;
                                height: 100%;                             
                                margin-left: 4px;
                                img{   
                                    filter: hue-rotate(85deg) saturate(80%) brightness(0.85);                             
                                }
                               }
                            }
                            .go-detail{
                                .accordion{                                 
                                        .accordion-header{
                                            display: inline-block;                                           
                                            button{
                                                background-color: inherit;    
                                                border-radius: 50%;                                              
                                                &:focus{
                                                    background-color: $bg-clr-2;
                                                    box-shadow: $box-shadow-7;                                                    
                                                }                                                                                            
                                                div{
                                                    font-weight: 900;
                                                    color: white;
                                                    padding: 12.5px 20px;
                                                    border-radius: 50%;
                                                    border:2px solid inherit;
                                                    line-height: 6px;
                                                    height: 50px;                                                
                                                    &:hover{
                                                        background-color: $bg-clr-2;                                                       
                                                    }                                                    
                                                }
                                           }
                                        }
                                        .accordion-collapse{
                                            left: -80%;
                                            top: 55px;                                       
                                            box-shadow: $box-shadow-4;
                                            background-color: $border-clr-2;
                                            .accordion-body{
                                                background-color: $bg-clr-2;
                                                padding: 9px;
                                                position: relative;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: flex-start;
                                                justify-content: center;
                                                div{
                                                    a{
                                                        display: flex;
                                                        align-items: center;
                                                        white-space: nowrap;
                                                        color: white;
                                                        padding: 0 10px;
                                                        height: 32px;
                                                        font-size: 0.875rem;
                                                    }
                                                }
                                                                                  
                                            }
                                        }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
